* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Tavolga;
    src: url("../fonts/tavolga.ttf");
}

@font-face {
    font-family: GilroyBold;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: GilroyExtrabold;
    src: url("../fonts/Gilroy-Extrabold.ttf");
}

@font-face {
    font-family: GilroyLight;
    src: url("../fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: GilroyMedium;
    src: url("../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: GilroyRegular;
    src: url("../fonts/Gilroy-Regular.ttf");
}


.header {
    background-color: rgb(235, 168, 177);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 38px 0 30px 0;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li a {
    padding-bottom: 3px;
    text-decoration: none;
    font-size: 14px;
    font-family: "GilroyMedium", sans-serif;
    color: rgb(119, 11, 29);
    border-bottom: 2px solid transparent;
    transition: all 0.4s linear;
}

.menu ul li a:hover {
    border-bottom: 2px solid rgb(130, 19, 40);
}

.menu-item {
    padding-right: 40px;
}

.phone {
    font-size: 16px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(255, 255, 255); 
    text-decoration: none;
}




.main {
    background-color: rgb(235, 168, 177);
}

.main__sections {
    display: flex;
    padding: 126px 0 108px 0;
}

.main__section h1 {
    font-size: 55px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    padding-bottom: 60px;
}

.main__text {
  font-size: 18px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  padding-bottom: 80px;
}

.main__image {
    display: block;
    z-index: 2;
}

.oval {
    display: block;
    position: absolute;
    top: 350px;
    right: 270px;
    border: 1px solid rgb(130, 19, 40);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.oval__one {
    animation: pulse 3s ease infinite;
    z-index: -1;
}

.oval__two {
    animation: pulse 3s ease .5s infinite;
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}


.btn {
    background-image: -moz-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
    width: 240px;
    height: 60px;
    font-size: 18px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 35px;
    border: 1px solid rgb(130, 19, 40);
}

.btn:hover {
    box-shadow: 0px 5px 9px 1px rgba(130, 19, 40, 0.5);
}




.information {
    background-color: rgb(255, 239, 239);
}

.information__main {
    display: flex;
    padding: 119px 0 24px 0;
}

.information__title h2 {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    max-width: 475px;
}

.information__text {
    font-size: 18px;
    font-family: "GilroyRegular", sans-serif;
    color: rgb(51, 25, 7);
    max-width: 425px;
    padding-top: 60px;
}

.information__image {
    position: relative;
    padding-left: 130px;
    top: 50px;
    height: 314px;
}

.information__descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 87px;
    padding: 58px 0 120px 0;
}

.information__ellipse {
    border-radius: 50%;
    background-color: rgb(130, 19, 40);
    border: 1px solid transparent;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-align: center;
    transition: .5s;
}

.information__description:hover .information__ellipse {
    background-color: rgb(235, 168, 177);
}

.information__description:hover span {
    color: rgb(130, 19, 40);
}

.information__descriptions span {
    font-size: 60px;
    font-family: "GilroyExtrabold", sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    margin: auto;
    padding-top: 12px;
    transition: .5s;
}

.information__description-main {
    font-size: 20px;
    font-family: "GilroyExtraBold", sans-serif;
    color: rgb(51, 25, 7);
    padding-top: 13px;
}

.information__description-text {
    font-size: 15px;
    font-family: "GilroyMedium", sans-serif;
    color: rgb(51, 25, 7);
    padding-top: 20px;
}



.products {
    background-color: rgb(235, 168, 177);
}

.products h2 {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 120px;
}

.products__name {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 29px;
    padding-top: 141px;
    padding-bottom: 120px;
}

.product__description {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
}

.product__image {
    display: flex;
    text-align: center;
    height: 90px;
}

.product__description:hover .product__image {
    transform: scale(1.1);
    transition: 0.5s;
}

.product__image img {
    display: flex;
    position: relative;
    margin: auto;
    top: -60px;
}

.product__text-main {
    font-size: 18px;
    font-family: "Tavolga", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.product__name-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 26px 20px 27px 20px;
}

.product__text-number {
    font-size: 15px;
    font-family: "GilroyRegular", sans-serif;
    color: rgb(255, 255, 255);
}

.product__text-price {
    font-size: 15px;
    font-family: "GilroyRegular", sans-serif;
    color: rgb(255, 255, 255);
}

.btn__number {
    width: 130px;
    height: 50px;
    font-size: 16px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(255, 255, 255);
}




.orders {
    background: rgb(255, 239, 239);
}

.orders__main {
    display: flex;
    padding: 98px 0 120px 0;
}

.order__image {
    padding-top: 70px;
}

.order__main {
   padding-left: 79px;
}

.order__main h2 {
    font-size: 45px;
    font-family: "Tavolga", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
}

.order__title-text {
    font-size: 18px;
    font-family: "GilroyRegular", sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    padding-top: 41px;
}

.order__text-one {
    font-size: 18px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(18, 10, 6);
    margin-top: 48px;
    margin-bottom: 20px;
}

.main__input-one {
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.main__input-one input {
    border: 1px solid rgb(130, 19, 40);
    border-radius: 30px;
    width: 293px;
    height: 59px;
    background: rgb(255, 239, 239);
    padding-left: 26px;
}

.main__input-one input::placeholder {
    font-size: 15px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(118, 12, 34);
    font-weight: bold;
}

.main__input-one input:focus {
    color: rgb(118, 12, 34);
    outline: rgb(130, 19, 40);
}

.order__text-two {
    font-size: 18px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(18, 10, 6);
    margin-top: 40px;
    margin-bottom: 7px;
}

.main__input-two {
    margin-top: 15px;
}

.main__input-two input {
    border-width: 1px;
    border-color: rgb(130, 19, 40);
    border-style: solid;
    border-radius: 30px;
    width: 293px;
    height: 59px;
    padding-left: 26px;
    background: rgb(255, 239, 239);
    margin-top: 15px;
}

.main__input-two input:focus {
    color: rgb(118, 12, 34);
    outline: rgb(130, 19, 40);
}

.main__input-two input::placeholder {
    font-size: 15px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(118, 12, 34);
    font-weight: bold;
}

.btn__two {
    width: 321px;
    height: 61px;
    margin-top: 15px;
}

.transition__one {
    display: flex;
    position: relative;
    right: 400px;
    max-height: 120px;
    animation: down 3s linear infinite;
}

@keyframes down {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(50px);
    }
    75% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}

.transition__two {
    display: flex;
    position: relative;
    left: 500px;
    top: 350px;
    max-height: 100px;
    animation: up 3s linear .5s infinite;
}

@keyframes up {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.footer {
    background: rgb(192, 112, 124);
    margin-top: auto;
}

.footer__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.logo__two {
    padding-top: 80px;
}

.footer__image {
    padding-top: 73px;
    text-align: center;
}

.number {
    font-size: 16px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 95px;
    text-align: end;
    text-decoration: none;
}

.footer__rights {
    font-size: 12px;
    font-family: "GilroyRegular", sans-serif;
    color: rgb(227, 172, 180);
}

.footer__text {
    font-size: 16px;
    font-family: "GilroyBold", sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    text-align: center;
}

.present {
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
}

.present:hover {
    border-radius: 50%;
    box-shadow: 0px 0px 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.arrow-container {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 82px;
    bottom: 35px;
}

.arrow-container::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 8px;
    border-color: transparent transparent transparent rgb(119, 10, 29);
    transform: translateY(200px);
    opacity: 0;
}

.arrow-container::after {
    content: '';
    position: absolute;
    top: 3px;
    left: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 6px;
    border-color: transparent transparent transparent rgb(254, 239, 238);
    transform: translateY(200px);
    opacity: 0;
}

.plate {
    position: absolute;
    right: 101px;
    bottom: 15px;
    border-width: 2px;
    border-color: rgb(119, 10, 29);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(254, 239, 238);
    width: 168px;
    height: 60px;
    font-size: 15px;
    font-family: "GilroyMedium", sans-serif;
    color: rgb(119, 10, 29);
    line-height: 1.7;
    text-align: center;
    transform: translateY(200px);
    opacity: 0;
}

.present:hover .plate {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.present:hover .arrow-container::before {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.present:hover .arrow-container::after {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.burger {
    display: none;
}

.close {
    display: none;
}
